/* Allmovies1.css */

body {
  background-color: #291351;
  color: #5d72e9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem;
  color: #2500f6; /* IMDb-style yellow */
  letter-spacing: 1px;
}

.movie-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px 20px;
}

.card {
  width: 220px;
  background-color: #00f9e4;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgb(205, 192, 3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(245, 197, 24, 0.4);
}

.poster-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-bottom: 2px solid #f5ab18;
}

.card p {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .card {
    width: 160px;
  }

  .poster-img {
    height: 240px;
  }

  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .movie-section {
    gap: 15px;
  }

  .card {
    width: 140px;
  }

  .poster-img {
    height: 200px;
  }

  .card p {
    font-size: 0.9rem;
  }
}
